{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>{{ todolist.name }}</h1>
        <h2>Tasks</h2>
        <div>
            <p>
                <a href="{% url 'update_todolist' todolist.id %}">Edit</a>
                <a href="{% url 'delete_todolist' todolist.id %}">Delete</a>
            </p>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for item in todolist.items.all %}
                <tr>
                    <td>{{ item.task }}</td>
                    <td>{{ item.due_date|date:"M d, Y" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}